<html>
    <head>
        <title>
            <%= locals.title%>
        </title>
        <script src="https://kit.fontawesome.com/faea743eff.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
           <h1 id="page-heading"><i><i class="fa-solid fa-paperclip"></i></i>
               Contact List</h1>
        <div class="card">
            <ul>
                   
                <% for (let i of contact_list) { %> 
                   <div class="contact"> 
                        <li>
                            <p><%= i.name %></p>
                            <p><%= i.phone %></p>
                    </div>
                    <div class="delete-button">
                        <a href="/delete-contact/?id=<%= i._id %>"><i class="fas fa-window-close"></i>
                            
                        </a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
        </body>

        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter phone" required>
            <button type="submit">Add contact</button>
        </form>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>